.env

# .dockerignore
**/.dockerignore
**/.git
**/.gitignore
**/*__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.egg-info/
**/*.egg
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/node_modules/
**/.pytest_cache/
